[submodule "extlibs/libSDL2pp"]
	path = extlibs/libSDL2pp
	url = https://github.com/libSDL2pp/libSDL2pp.git
[submodule "extlibs/GSL"]
	path = extlibs/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "extlibs/glm"]
	path = extlibs/glm
	url = https://github.com/g-truc/glm.git
[submodule "extlibs/rapidjson"]
	path = extlibs/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "extlibs/CLI11"]
	path = extlibs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
